
/* ============ UTILITIES =========== */
.site-btn {
    border-radius: 30px;
    padding: 6px;
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-363636 {
    background-color: #363636;
}

.bg-red {
    background-color: red;
}

.bg-2d64e6 {
    background-color: #2d64e6;
}

.bg-1f1f1f {
    background: #1f1f1f;
}

.mark-font {
    font-size: 1.2em;
    font-weight: 400;
}



/* ============ HEADER =========== */ 
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

#header-top-logo {
    background-color: black;
    max-width: 100%;
    height: 30px;
    padding-right: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#sony-logo {
    width: 70px;
}

.nav-txt-black {
    color: black;
    font-size: 1em; 
}



/* ============ MAIN =========== */ 

main {
    margin-top: 140px;
}

#jumbo-1 {
    background-image: url(../img/jumbo-bg.png);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron {
    font-size: 1.1em;
}

.jumbotron h1{
    font-size: 2.5em;
}

#returnal-logo {
    max-width: 300px;
}

.game-cards {
    max-width: 100%;
    border-radius: 20px;
}

.game-cards:hover {
    transform: scale(1.1);
}

.game-cards:active {
    padding: 2px;
    border: 3px solid #2787d5;
}

.ps-device h6 {
    color: #2787d5;
}

.ps-device h1 {
    font-size: 2.5em;
    margin-bottom: 25px;
}

.ps-device h2 {
    font-size: 2em;
    margin-bottom: 25px;
}

.ps-device p {
    font-size: 1.3em;
    color: #777777;
}

#ps5-console {
    max-width: 100%;
}

.ps5-card {
    opacity: 0.5;
    border-bottom: 3px solid transparent;
}

.ps5-card:hover {
    opacity: 1;
}

.ps5-card:active {
    border-bottom: 3px solid #2787d5;
}

.ps-element {
    max-width: 100%;
}


.ps5-element-title {
    padding-top: 10px;
    font-size: 1.1em;
}

.p-special {
    padding-bottom: 21px;
}

#jumbo-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#it-takes-two-logo {
    max-width: 250px;
}

#new-games .game-cards:active {
    padding: 0;
    border: 0;
}

#jumbo-3 {
    background-color: #bebcbb;
}

#ps-plus-logo {
    width: 250px;
}

#j3-btn {
    background-color: #d9dadc;
    color: #2d64e6;
}

#ps-plus-april-monthly {
    max-width: 100%;
}

.ps-store h1 {
    font-size: 2.5em;
    margin-bottom: 25px;
}

.ps-store p {
    font-size: 1.3em;
    color: #777777;
}

.ps-store img {
    max-width: 100%;
}

#jumbo-4 {
    background-color: #161c3b;
    color: white;
}

#j4-btn {
    background-color: white;
    color: black
}

#ps-now-logo {
    width: 350px;
}

#ps-now-april {
    max-width: 100%;
    max-height: 100%;
}

.social-media-area img {
    max-width: 100%;
}





